<script>
	import { scale, fade } from 'svelte/transition';
	import { createEventDispatcher } from 'svelte';
	import { create } from 'qrcode';
	import { setGlobalMessage } from '../../actions/actions';
	export let newUrl;
	const dispatch = createEventDispatcher();
	function handleClick(key) {
		dispatch(key);
	}
</script>

<div
	class="custom-link-bloc relative top-1/2 left-1/2 h-5/6 w-3/4 -translate-x-1/2 -translate-y-1/2 rounded bg-sky-800 p-6 sm:static sm:flex sm:h-auto sm:w-full sm:flex-shrink-0 sm:translate-y-0 sm:translate-x-0 sm:transform-none sm:flex-col sm:bg-sky-800/50"
	transition:fade
>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="name">Nombre</label>
	<input
		class="mb-2 w-full rounded bg-stone-200 p-2 text-sm sm:text-base"
		name="name"
		id="name"
		type="text"
		bind:value={newUrl.name}
	/>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="url">URL</label>
	<input
		class="mb-2 w-full rounded bg-stone-200 p-2 text-sm sm:text-base"
		name="url"
		id="url"
		type="text"
		bind:value={newUrl.url}
	/>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="icon">Icono</label>
	<input
		class="mb-2 w-full rounded bg-stone-200 p-2 text-sm sm:text-base"
		name="icon"
		id="icon"
		type="text"
		bind:value={newUrl.icon}
	/>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="policy">Restricciones</label>
	<select
		class="mb-2 w-full rounded bg-stone-200 p-2 text-sm text-black sm:text-base"
		name="policy"
		id="policy"
		bind:value={newUrl.policy}
	>
		<option value={true}>Privado</option>
		<option value={false}>Público</option>
	</select>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="description">Descripción</label>
	<textarea
		class="w-full rounded bg-stone-200 p-2 text-sm sm:text-base"
		name="description"
		id="description"
		type="text"
		bind:value={newUrl.description}
	/>
	<div class="button-container flex justify-evenly py-2">
		<button
			class="my-2 w-1/3 rounded bg-red-500/30 p-2 text-white transition-colors hover:bg-red-800"
			on:click={() => {
				handleClick('cancel');
			}}>cancel</button
		>
		<button
			class="my-2 w-1/3 rounded bg-green-500/30 p-2 text-white transition-colors hover:bg-green-700"
			on:click={async () => {
				const create = await newUrl.create();
				if (create.status === 200) {
					handleClick('save');
					setGlobalMessage(`${create.message} has been created!`, 'darkgreen');
				} else {
					setGlobalMessage(create.message, 'tomato');
				}
			}}>save</button
		>
	</div>
</div>

<style>
	/* 	.custom-link-bloc {
		transform: translateX(-50%, -50%);
	} */
</style>
