<script>
	import { scale, fade } from 'svelte/transition';
	import { createEventDispatcher } from 'svelte';
	import Button from '$lib/ui/button.svelte';
	import World from '../../media/world.svg';
	import Modal from '../ui/modal.svelte';
	import { setGlobalMessage } from '../../actions/actions';
	export let link, session;
	let deleteWarning = false;
	let edit = false;
	let customClasses;
	const dispatch = createEventDispatcher();
	function handleClick(key) {
		dispatch(key);
	}
	$: editClass = edit
		? 'icon-container row-span-1 row-start-1 w-1/3 text-sm'
		: 'icon-container row-span-1 row-start-1 w-1/6';

	let iconError = false;
	$: editLabel = edit ? 'Cancel' : 'Edit';
</script>

{#if deleteWarning}
	<Modal
		modalClasses="sm:h-14"
		buttons={[
			{ label: 'cancel', action: 'close', colour: 'blue' },
			{ label: 'delete', action: 'click', colour: 'red' }
		]}
		on:close={() => {
			deleteWarning = false;
		}}
		on:click={async () => {
			const del = await link.delete(link);
			if (del.status === 200) {
				handleClick('delete');
				deleteWarning = false;
				setGlobalMessage(del.message, 'darkgreen');
			} else {
				setGlobalMessage(del.message, 'tomato');
				console.log('error');
			}
		}}
	/>
{/if}
{#if !link.open}
	<div
		class="link-container m-2 flex h-14 items-center justify-between rounded border-2 border-zinc-800 bg-teal-900/60 p-2"
		on:click|self={() => {
			link.open = !link.open;
			if (!session.user.guest) {
				link.status();
			}
		}}
		in:scale
	>
		<div
			class="icon-container w-1/6"
			on:click|self={() => {
				link.open = !link.open;
				if (!session.user.guest) {
					link.status();
				}
			}}
		>
			{#if link.icon}
				<img
					src={link.icon}
					on:click={() => {
						window.open(link.url, '_blank');
					}}
					on:error={(e) => (e.target.src = World)}
					alt=""
					class="object-fit w-full rounded-lg"
					in:fade
				/>
			{:else if iconError}
				<img
					src={World}
					on:click={() => {
						window.open(link.url, '_blank');
					}}
					alt=""
					class="w-full object-fit rounded-lg"
					in:fade
				/>
			{/if}
		</div>
		<a
			href={''}
			on:click={() => {
				window.open(link.url, '_blank');
			}}
			class="text-center text-sm transition-all hover:border-b-2 hover:border-black sm:text-base"
			>{link.name}</a
		>
	</div>
{:else if link.open}
	<div
		class="link-container p-2 m-2 h-56 rounded bg-sky-900/40 shadow-md grid grid-cols-1 grid-rows-6 border-2 border-stone-400"
		on:click|self={() => {
			link.open = !link.open;
			if (!session.user.guest) {
				link.status();
			}
		}}
		in:scale
	>
		<div
			class="link-icon-bloc flex justify-between items-center"
			on:click|self={() => {
				link.open = !link.open;
				if (!session.user.guest) {
					link.status();
				}
			}}
		>
			<div class={editClass}>
				{#if !edit}
					{#if link.icon}
						<img
							src={link.icon}
							on:click={() => {
								window.open(link.url, '_blank');
							}}
							on:error={(e) => (e.target.src = World)}
							alt=""
							class="w-full object-fit rounded-lg"
						/>
					{:else}
						<img
							src={World}
							on:click={() => {
								window.open(link.url, '_blank');
							}}
							alt=""
							class="w-full object-fit rounded-lg"
						/>
					{/if}
				{:else if edit}
					<input class="w-full rounded text-black p-1" bind:value={link.icon} placeholder="Ícono" />
				{/if}
			</div>
			{#if !edit}
				<a
					href={''}
					on:click={() => {
						window.open(link.url, '_blank');
					}}
					class="font-bold flex max-h-6 sm:max-h-auto overflow-scroll pl-2">{link.name}</a
				>
			{:else if edit}
				<input
					class="font-normal text-black w-1/3 rounded focus:w-1/2 text-sm p-1"
					bind:value={link.url}
					placeholder="Link"
				/>
			{/if}
		</div>
		{#if edit}
			<select
				class="row-start-2 row-span-1 mt-4 h-8 w-full text-sm sm:text-base rounded bg-stone-200 text-black"
				name="policy"
				id="policy"
				bind:value={link.policy}
			>
				<option class="text-black" value={true}>Privado</option>
				<option class="text-black" value={false}>Público</option>
			</select>
		{/if}
		{#if !edit}
			{#if link.description}
				<p class="row-start-2 mt-4 ml-2 row-span-4 overflow-scroll text-xs sm:text-base">
					{link.description}
				</p>
			{/if}
		{:else if edit}
			<textarea
				class="row-start-4 row-span-2 overflow-scroll text-sm w-full text-black rounded p-2"
				placeholder="Descripción"
				bind:value={link.description}
			/>
		{/if}
		{#if (!session.user.guest && session.user.role === 'admin') || (session.user.role === 'user' && link.userCreated === session.user.id)}
			<div class="button-container flex justify-evenly text-xs mt-2 row-start-6">
				<button
					on:click={async () => {
						edit = !edit;
					}}
				>
					{editLabel}
				</button>
				<button
					on:click={async () => {
						const save = await link.save();
						if (save.status === 200) {
							setGlobalMessage(save.message, 'darkgreen');
							edit = false;
						} else {
							setGlobalMessage('Error saving the changes!', 'tomato');
						}
					}}
				>
					Save
				</button>
				<button
					on:click={async () => {
						deleteWarning = true;
					}}>Delete</button
				>
			</div>
		{/if}
	</div>
{/if}

<style>
	.warning-notification {
		transform: translate(-50%, -50%);
	}
</style>
