<script context="module">
	export function load({ error, status }) {
		console.log(error, status);
		return {
			props: {
				title: `${status}: ${error.message}`
			}
		};
	}
</script>

<script>
	export let title;
</script>

<div
	class="error-container absolute top-1/2 left-1/2 bg-blue-200 rounded p-8 shadow-md text-gray-700"
>
	<p class="p-4 font-bold w-full">Something seems to have falied...</p>
	<p class="px-4 text-red-800">{title}</p>
	<p class="text-center w-full">😨</p>
</div>

<style>
	.error-container {
		transform: translate(-50%, -50%);
	}
</style>
