<script>
	import { globalMessage, globalMessageStatus, serverMessage } from '../stores/store';
	import { fade, slide } from 'svelte/transition';
	import Close from '$media/close.svg';
	import '../app.css';
	let toggleServerMessage = false;
	if (serverMessage !== '') {
		setTimeout(() => {
			toggleServerMessage = true;
		}, 1500);
	}
</script>

<div class="main h-screen w-screen">
	{#if $globalMessageStatus === true}
		<p
			class="global-message absolute z-50 flex h-14 w-full items-center justify-center overflow-hidden bg-blue-500 p-2 text-center text-sm text-white md:text-lg"
			style="--alert-color:{$globalMessage.color}"
			on:click={() => {
				$globalMessageStatus = false;
			}}
			transition:slide
		>
			{$globalMessage.message}
		</p>
	{/if}
	<slot />
	{#if toggleServerMessage}
		<div
			class="pop-up-message absolute bottom-0 right-0 m-4 w-1/3 hover:cursor-pointer"
			on:click={() => {
				toggleServerMessage = false;
			}}
			transition:fade
		>
			<div class="img-container relative w-full">
				<img class="absolute top-0 right-0 z-10 m-1 h-6 w-6 text-right" src={Close} alt="" />
			</div>
			<p
				class="relative overflow-scroll rounded-lg border-2 border-slate-400 bg-sky-900/80 p-6 text-white shadow-lg hover:bg-sky-900 hover:shadow-2xl"
			>
				{$serverMessage}
			</p>
		</div>
	{/if}
</div>

<style>
	.global-message {
		background-color: var(--alert-color);
	}
	.global-message:first-letter {
		text-transform: uppercase;
	}
</style>
