<script context="module">
	export async function load({ url, fetch, session, stuff }) {
		const data = await fetch('/api/data?url=all');
		if (!data.ok) {
			const error = await data.json();
			console.log(error);
			return {
				props: {
					error
				}
			};
		} else {
			const response = await data.json();
			return {
				props: {
					session,
					response
				}
			};
		}
	}
</script>

<script>
	import Url from '../lib/links/link-class';
	import Link from '../lib/links/link.svelte';
	import User from '../lib/users/user-class';
	import Modal from '../lib/ui/modal.svelte';
	import AddContainer from '../lib/ui/addcontainer.svelte';
	import Toolbar from '../lib/ui/toolbar.svelte';
	import Topbar from '../lib/ui/topbar.svelte';
	import { linksStore, usersStore, serverMessage } from '../stores/store';
	import { setGlobalMessage } from '../actions/actions';
	import { session } from '$app/stores';
	import { goto } from '$app/navigation';
	export let response, error;

	//

	if (error) {
		setGlobalMessage(error, tomato);
	}
	let links = [];
	let filteredLinks = [];
	let newUrls = [];
	let newUsers = [];
	/* 	let wireguard = false;
	let tabOpen = false; */
	let loginBoxOpen, editUserBoxOpen, editUsers;
	/* enableLogout = false; */
	//
	response.urls.forEach((element) => {
		links = [
			...links,
			new Url(
				element.name,
				element.url,
				element.description,
				element.open,
				element._id,
				element.icon,
				element.policy,
				element.userCreated
			)
		];
		links = links.sort((a, b) => a.name.localeCompare(b.name));
		/* $linksStore = links; */
	});
	$linksStore = links;
	let searching = false;

	//
	const refresh = async () => {
		const response = await fetch('/api/data?url=all');
		const data = await response.json();
		links = [];
		data.urls.forEach((element) => {
			links = [
				...links,
				new Url(
					element.name,
					element.url,
					element.description,
					element.open,
					element._id,
					element.icon,
					element.policy,
					element.userCreated
				)
			];
		});
	};

	const refreshUsers = async () => {
		const res = await fetch('/api/user?all=yes');
		const data = await res.json();
		let users = [];
		data.forEach((element) => {
			let newUser = new User();
			newUser.id = element.id;
			newUser.username = element.username;
			newUser.role = element.role;
			users = [...users, newUser];
		});
		console.log(users);
		$usersStore = users;
		fetchedUsers = [];
		users.forEach((user) => {
			fetchedUsers = [
				...fetchedUsers,
				{
					id: user.id,
					label: user.username,
					type: 'select',
					options: ['admin', 'user'],
					value: user.role
				}
			];
		});
	};
	$serverMessage = response.message || '';
	/* setGlobalMessage(response.message, 'blue'); */
	let fetchedUsers = [];
	let deleteWarning = false;
	let setMessage = false;
	console.log('💫 this is session:', $session.user.username);
	//
</script>

{#if deleteWarning}
	<div
		on:click={() => {
			deleteWarning = false;
		}}
	>
		<p class="absolute top-1/2 left-1/2 z-50 -translate-x-1/2 -translate-y-1/2 bg-red-400">
			delete
		</p>
	</div>
{/if}

<div>
	{#if loginBoxOpen}
		<Modal
			column
			inputs={[
				{ label: 'username', type: 'text', value: '' },
				{ label: 'password', type: 'password', value: '' }
			]}
			buttons={[
				{ label: 'cancel', action: 'close', colour: 'red' },
				{ label: 'login', action: 'click', colour: 'green' }
			]}
			on:close={() => {
				loginBoxOpen = false;
			}}
			on:click={async (data) => {
				const loginUser = new User(data.detail[0].value, data.detail[1].value);
				const logMeIn = await loginUser.login();
				if (logMeIn) {
					$session = {
						user: {
							guest: false,
							username: loginUser.username,
							language: loginUser.language,
							role: loginUser.role
						}
					};
					loginBoxOpen = false;
					setTimeout(() => {
						refresh();
					}, 200);
					setGlobalMessage(`Hello ${loginUser.username}!`, 'darkgreen');
				} else {
					setGlobalMessage('Error logging in :(', 'tomato');
					console.log('error logging in .(');
				}
			}}
		/>
	{/if}
	{#if setMessage}
		<Modal
			column
			inputs={[{ label: 'message', type: 'text', value: $serverMessage }]}
			buttons={[
				{ label: 'cancel', action: 'close', colour: 'red' },
				{ label: 'update', action: 'click', colour: 'sky' }
			]}
			on:close={() => {
				setMessage = false;
			}}
			on:click={async (data) => {
				console.log(data.detail[0].value);
				const body = JSON.stringify(data.detail[0].value);
				const res = await fetch('/api/data?message=${data.detail[0].value}', {
					method: 'POST',
					body
				});
				if (res.ok) {
					const result = await res.json();
					setMessage = false;
				} else {
					setGlobalMessage('Error saving the message!', 'tomato');
				}
			}}
		/>
	{/if}
	{#if editUserBoxOpen}
		<Modal
			column
			inputs={[
				{ label: 'username', type: 'text', value: '' },
				{ label: 'password', type: 'password', value: '' },
				{ label: 'confirm password', type: 'password', value: '' }
			]}
			buttons={[
				{ label: 'cancel', action: 'close', colour: 'red' },
				{ label: 'update', action: 'click', colour: 'sky' }
			]}
			on:close={() => {
				editUserBoxOpen = false;
			}}
			on:click={async (data) => {
				if (data.detail[1].value === data.detail[2].value) {
					const editedUser = new User(data.detail[0].value, data.detail[1].value);
					const save = await editedUser.save();
					console.log(save);
					if (save) {
						goto('/');
					} else {
						setGlobalMessage('Error updating the user :(', 'tomato');
					}
				} else {
					setGlobalMessage('Passwords do not match! :(', 'tomato');
				}
			}}
		/>
	{/if}
	{#if editUsers}
		<Modal
			del={true}
			inputs={fetchedUsers}
			on:close={() => {
				editUsers = false;
				fetchedUsers = [];
			}}
			on:deleteUser={async (e) => {
				console.log(`delete user: ${$usersStore[e.detail].username}`);
				if ($usersStore[e.detail].username !== $session.user.username) {
					const deleteThisUser = await $usersStore[e.detail].delete();
					if (deleteThisUser.status === 200) {
						setGlobalMessage(deleteThisUser.message, 'darkgreen');
					}
					refreshUsers();
				} else if ($usersStore[e.detail].username === $session.user.username) {
					setGlobalMessage('Sorry, suicide is not allowed yet :o', 'darkgreen');
				}
			}}
			buttons={[{ label: 'close', action: 'close', colour: 'red' }]}
		/>
	{/if}
	<div
		class:blur-sm={loginBoxOpen}
		class:saturate-50={loginBoxOpen}
		class="landing-page-container flex h-screen max-h-screen flex-col overflow-hidden bg-slate-700"
	>
		<Topbar
			{loginBoxOpen}
			{editUserBoxOpen}
			{fetchedUsers}
			{editUsers}
			on:refresh={() => {
				refresh();
			}}
			on:toggleLoginBox={() => {
				loginBoxOpen = !loginBoxOpen;
			}}
			on:toggleUserBox={() => {
				editUserBoxOpen = true;
			}}
			on:editUsers={(e) => {
				editUsers = true;
				fetchedUsers = e.detail;
			}}
			on:toggleSetMessage={() => {
				setMessage = true;
			}}
		/>
		<Toolbar
			{newUrls}
			{newUsers}
			on:addUrl={() => {
				newUrls = [...newUrls, new Url()];
			}}
			on:addUser={() => {
				newUsers = [...newUsers, new User()];
			}}
			on:search={(e) => {
				if (e.detail !== '') {
					searching = true;
					const searchLinks = () => {
						filteredLinks = [];
						const currentLinks = links;
						currentLinks.forEach((link) => {
							const lowercased = link.name.toLowerCase();
							if (lowercased.includes(e.detail.toLowerCase())) {
								filteredLinks = [...filteredLinks, link];
							}
						});
					};
					searchLinks();
				} else {
					searching = false;
				}
			}}
		/>
		{#if !$session.user.guest || $session.user.username === 'allowSignin'}
			<div class="overflow-scroll">
				{#if newUsers.length > 0}
					<AddContainer
						type={'user'}
						{newUsers}
						on:clearUsers={() => {
							if (newUsers.length <= 1) {
								newUsers = [];
							}
						}}
						on:cancel={(e) => {
							newUsers.splice(e.detail, 1);
							newUsers = newUsers;
						}}
						on:save={(e) => {
							setTimeout(() => {
								refresh();
							}, 200);
							newUsers.splice(e.detail, 1);
							newUsers = newUsers;
						}}
					/>
				{/if}
				{#if newUrls.length > 0}
					<AddContainer
						type={'link'}
						{newUrls}
						on:clearLinks={() => {
							if (newUrls.length <= 1) {
								newUrls = [];
							}
						}}
						on:cancel={(e) => {
							newUrls.splice(e.detail, 1);
							newUrls = newUrls;
						}}
						on:save={(e) => {
							setTimeout(() => {
								refresh();
							}, 200);
							newUrls.splice(e.detail, 1);
							newUrls = newUrls;
						}}
					/>
				{/if}
			</div>
		{/if}
		<div class="overflow-scroll">
			<div
				class="links-container mt-2 grid flex-shrink-0 auto-rows-auto grid-cols-2 place-content-center gap-2 p-2 text-white sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
			>
				{#if searching}
					{#each filteredLinks as link, i}
						<Link
							{link}
							session={$session}
							on:delete={() => {
								setTimeout(() => {
									refresh();
								}, 200);
							}}
						/>
					{/each}
				{:else if !searching}
					{#each links as link, i}
						<Link
							{link}
							session={$session}
							on:delete={() => {
								setTimeout(() => {
									refresh();
								}, 200);
							}}
						/>
					{/each}
				{/if}
			</div>
		</div>
	</div>
</div>
