<script>
	import { fade } from 'svelte/transition';
	import { createEventDispatcher } from 'svelte';
	import { setGlobalMessage } from '../../actions/actions';
	const dispatch = createEventDispatcher();
	export let newUser;
	function handleClick(key) {
		dispatch(key);
	}
</script>

<div
	class="custom-link-bloc relative top-1/2 left-1/2 h-5/6 w-3/4 -translate-x-1/2 -translate-y-1/2 rounded bg-sky-800 p-6 sm:static sm:flex sm:h-auto sm:w-full sm:flex-shrink-0 sm:translate-y-0 sm:translate-x-0 sm:transform-none sm:flex-col sm:bg-sky-800/50"
	transition:fade
>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="username">Nombre</label>
	<input
		class="mb-2 w-full rounded bg-stone-200 p-2 text-sm sm:text-base"
		name="username"
		id="username"
		type="text"
		bind:value={newUser.username}
	/>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="password">Contraseña</label>
	<input
		class="mb-2 w-full rounded bg-stone-200 p-2 text-sm sm:text-base"
		name="password"
		id="password"
		type="password"
		bind:value={newUser.password}
	/>
	<label class="py-2 text-sm text-white sm:p-0 sm:text-base" for="rol">Rol</label>
	<select
		class="mb-2 w-full rounded bg-stone-200 p-2 text-sm sm:text-base"
		name="rol"
		id="rol"
		bind:value={newUser.role}
	>
		<option value="admin">Admin</option>
		<option value="user">User</option>
	</select>
	<div class="button-container flex justify-evenly py-2">
		<button
			class="my-2 w-1/3 rounded bg-red-500/30 p-2 text-white transition-colors hover:bg-red-800"
			on:click={() => {
				handleClick('cancel');
			}}>cancel</button
		>
		<button
			class="my-2 w-1/3 rounded bg-green-500/30 p-2 text-white transition-colors hover:bg-green-700"
			on:click={async () => {
				const data = await newUser.create();
				if (data.status === 200) {
					handleClick('save');
					setGlobalMessage(`${data.message} created!`, 'darkgreen');
				} else {
					setGlobalMessage(`${data.createdUser.data.message}`, 'tomato');
					console.error(
						'Error creating the user!',
						`status: ${data.createdUser.status}`,
						`message: ${data.createdUser.data.message}`
					);
				}
			}}>save</button
		>
	</div>
</div>

<style>
	label {
		color: white;
	}
	input {
		color: black;
	}
</style>
