<script>
	import UserAdd from '../users/user_add.svelte';
	import LinkAdd from '../links/link_add.svelte';
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	export let newUsers, newUrls, type;
	console.log(type);
</script>

<div
	class={`add-${type}-container absolute top-0 left-0 h-full w-full flex-shrink-0 overflow-x-scroll bg-black bg-opacity-75 sm:static sm:flex sm:h-auto sm:w-auto sm:bg-slate-800`}
	on:click|self={() => {
		if (type === 'user') dispatch('clearUsers');
		else if (type === 'link') dispatch('clearLinks');
	}}
>
	{#if type === 'user'}
		{#each newUsers as newUser, i}
			<div
				class="relative top-1/2 left-1/2 h-5/6 w-3/4 -translate-x-1/2 -translate-y-1/2 sm:static sm:top-0 sm:left-0 sm:mx-2 sm:my-6 sm:h-auto sm:w-1/3 sm:flex-shrink-0 sm:translate-x-0 sm:translate-y-0 sm:overflow-x-scroll"
				on:click|self={() => {
					dispatch('clearUsers');
				}}
			>
				<UserAdd
					{newUser}
					on:cancel={() => {
						dispatch('cancel', i);
					}}
					on:save={() => {
						dispatch('save', i);
					}}
				/>
			</div>
		{/each}
	{:else if type === 'link'}
		{#each newUrls as newUrl, i}
			<div
				class="relative top-1/2 left-1/2 h-5/6 w-3/4 -translate-x-1/2 -translate-y-1/2 sm:static sm:top-0 sm:left-0 sm:mx-2 sm:my-6 sm:h-auto sm:w-1/3 sm:flex-shrink-0 sm:translate-x-0 sm:translate-y-0 sm:overflow-x-scroll"
				on:click|self={() => {
					dispatch('clearLinks');
				}}
			>
				<LinkAdd
					{newUrl}
					on:cancel={() => {
						dispatch('cancel', i);
					}}
					on:save={() => {
						dispatch('save', i);
					}}
				/>
			</div>
		{/each}
	{/if}
</div>
