<script>
	// set a colour and margin
	import { createEventDispatcher } from 'svelte';
	export let colour, rounded, margin, padding, customClasses;
	const dispatch = createEventDispatcher();
	function handleClick() {
		dispatch('click');
	}
</script>

<div
	class:p-2={padding}
	class:rounded
	class:m-2={margin}
	style="--background-color:{colour}"
	class={`button w-full h-full text-center text-white font-semibold flex justify-center items-center capitalize hover:cursor-pointer transition-all ${customClasses}`}
	on:click={handleClick}
>
	<slot />
</div>

<style>
	.button {
		background-color: var(--background-color);
	}
</style>
