<script>
	import { fade } from 'svelte/transition';
	import Button from './button.svelte';
	import DeleteUser from '$media/deleteUser.svg';
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	function handleClick(key, data) {
		dispatch(key, data);
	}
	export let texts, inputs, buttons, column, modalClasses, del;
	let labelHover = -1;
	let timeNow = 0;
	let myInterval = '';
	let adding = 0;
</script>

<div
	class="dynamic-modal absolute top-0 left-0 z-40 h-screen w-screen overflow-hidden bg-slate-600 bg-opacity-60"
	on:click|self={() => {
		handleClick('close');
	}}
	on:mouseover|self={() => {
		labelHover = -1;
	}}
	on:focus
	transition:fade
>
	<div
		class={`dynamic-modal-card relative h-screen w-screen py-4 sm:top-1/2 sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2 sm:w-1/3 sm:h-1/3 lg:w-1/4 flex flex-col sm:rounded-lg justify-evenly items-center shadow-lg bg-sky-900 sm:border-4 sm:border-white ${modalClasses}`}
	>
		{#if texts}
			{#each texts as text}
				<p>{text}</p>
			{/each}
		{/if}
		{#if inputs}
			<div class="dynamic-modal-container h-3/4 w-3/4 overflow-y-scroll whitespace-nowrap p-2">
				{#each inputs as input, i}
					<div
						class="input-bloc flex items-center p-2"
						class:justify-between={!column}
						class:flex-col={column}
						class:h-12={!column}
					>
						{#if del}
							{#if labelHover === i}
								<img
									class="delete-icon h-full object-contain"
									class:overflow-x-scroll={!column}
									class:text-center={column}
									class:py-2={column}
									class:text-left={!column}
									class:mr-2={!column}
									class:mb-2={column}
									on:mouseleave|self={() => {
										labelHover = -1;
									}}
									on:mousedown|self={() => {
										console.log(`delete started`);
										adding = 0;
										const date = Date.now();
										timeNow = date;
										myInterval = setInterval(() => {
											adding++;
											if (adding < 100) {
												document.getElementsByClassName('input-bloc')[
													i
												].style.background = `linear-gradient(90deg, rgb(95, 45, 22) ${adding}%, rgb(12 74 110) 0%)`;
											} else {
												if (adding >= 100) {
													dispatch('deleteUser', i);
													document.getElementsByClassName('input-bloc')[i].style.background =
														'linear-gradient(90deg, rgb(95, 45, 22) 0%, rgb(12 74 110) 0%)';
													clearInterval(myInterval);
												}
											}
										}, 1);
									}}
									on:mouseup|self={() => {
										const date = Date.now();
										timeNow = date - timeNow;
										console.log(timeNow);
										if (timeNow <= 500) {
											console.log('delete canceled');
											document.getElementsByClassName('input-bloc')[i].style.background =
												'linear-gradient(90deg, rgb(95, 45, 22) 0%, rgb(12 74 110) 0%)';
										}
										clearInterval(myInterval);
									}}
									on:dragstart={() => {
										timeNow = 0;
										clearInterval(myInterval);
										document.getElementsByClassName('input-bloc')[i].style.background =
											'linear-gradient(90deg, rgb(95, 45, 22) 0%, rgb(12 74 110) 0%)';
									}}
									src={DeleteUser}
									alt=""
								/>
							{:else}
								<label
									on:mouseenter|self={() => {
										labelHover = i;
									}}
									for={`${input.label}-${i}`}
									class="w-full text-lg capitalize h-full"
									class:overflow-x-scroll={!column}
									class:text-center={column}
									class:py-2={column}
									class:text-left={!column}
									class:mr-2={!column}
									class:mb-2={column}>{input.label}</label
								>
							{/if}
						{:else}
							<label
								for={`${input.label}-${i}`}
								class="w-full py-2 text-lg capitalize"
								class:overflow-x-scroll={!column}
								class:text-center={column}
								class:py-2={column}
								class:text-left={!column}
								class:mr-2={!column}
								class:mb-2={column}>{input.label}</label
							>
						{/if}
						{#if input.type === 'text'}
							<input
								class="w-3/4 rounded bg-stone-300 p-1 shadow-md"
								type="text"
								id={`${input.label}-${i}`}
								name={`${input.label}-${i}`}
								bind:value={input.value}
								on:keypress={(e) => {
									if (e.key === 'Enter') {
										handleClick('click', inputs);
									}
								}}
							/>
						{:else if input.type === 'password'}
							<input
								class="p-1 rounded w-3/4 shadow-md bg-stone-300"
								type="password"
								id={`${input.label}-${i}`}
								name={`${input.label}-${i}`}
								bind:value={input.value}
								on:keypress={(e) => {
									if (e.key === 'Enter') {
										handleClick('click', inputs);
									}
								}}
							/>
						{:else if input.type === 'select'}
							<select
								class="p-2 rounded w-1/2 shadow-md bg-stone-300 flex-shrink-0"
								type="password"
								id={`${input.label}-${i}`}
								name={`${input.label}-${i}`}
								bind:value={input.value}
							>
								{#each input.options as option}
									<option value={option}>{option}</option>
								{/each}
							</select>
						{/if}
					</div>
				{/each}
			</div>
		{/if}
		{#if buttons}
			<div
				class="button-container mt-4 flex opacity-50 saturate-50 transition-all hover:opacity-100"
			>
				{#each buttons as button}
					<Button
						customClasses={`hover:text-${button.colour}-400 text-${button.colour}-400`}
						padding
						rounded
						on:click={() => {
							handleClick(button.action, inputs);
						}}>{button.label}</Button
					>
				{/each}
			</div>
		{/if}
	</div>
</div>

<style>
	label {
		color: white;
		text-overflow: ellipsis;
	}

	.input-bloc {
		margin: 2px 0px;
		border-radius: 10px;
		background: linear-gradient(90deg, rgb(95, 45, 22) 0%, rgb(12 74 110) 0%);
	}
</style>
