<script>
	import { createEventDispatcher } from 'svelte';
	import { usersStore } from '../../stores/store';
	import User from '$lib/users/user-class';
	import { session } from '$app/stores';
	const dispatch = createEventDispatcher();
	const handleEvent = (key, detail) => {
		dispatch(key, detail);
	};
	let windowWidth;
	let windowHeight;
	let cursor = {
		x: Number,
		y: Number
	};
</script>

<svelte:window bind:innerWidth={windowWidth} bind:innerHeight={windowHeight} />

<div
	on:focus={() => {}}
	on:mouseover={(e) => {
		cursor.x = ((e.clientX * 2) / (windowWidth / 2) - 0.5) * 20;
		cursor.y = ((e.clientY * 2) / (windowHeight / 2) - 0.5) * 20;
		const thisElement = document.getElementsByClassName('poppop-container')[0];
		thisElement.style.boxShadow = `${cursor.x}px ${cursor.y}px rgba(255,255,255,0.1)`;
		/* handleEvent('over', cursor); */
	}}
	on:mouseenter={(e) => {
		handleEvent('enter');
	}}
	on:mouseleave={() => {
		handleEvent('leave');
	}}
	class="poppop-container absolute top-12 z-40 flex h-48 w-40 flex-col justify-between rounded bg-slate-800/90 p-6 text-white md:h-52 md:w-52 md:p-10 md:text-xl"
	on:click:self={() => {
		handleEvent('close');
	}}
>
	<p
		class="transition-all hover:text-sky-800"
		on:click={() => {
			handleEvent('edit');
		}}
	>
		Editar
	</p>
	{#if $session.user.role === 'admin'}
		<p
			class="transition-all hover:text-sky-800"
			on:click={() => {
				handleEvent('setMessage');
			}}
		>
			Mensaje de bienvenida
		</p>
		<p
			class="transition-all hover:text-sky-800"
			on:click={async () => {
				const res = await fetch('/api/user?all=yes');
				const data = await res.json();
				let users = [];
				data.forEach((element) => {
					let newUser = new User();
					newUser.id = element.id;
					newUser.username = element.username;
					newUser.role = element.role;
					users = [...users, newUser];
				});
				$usersStore = users;
				handleEvent('users', data);
			}}
		>
			Ver usuarios
		</p>
	{/if}
	<p
		class="transition-all hover:text-sky-800"
		on:click={() => {
			handleEvent('logout');
		}}
	>
		Salir
	</p>
</div>
