<script>
	import { createEventDispatcher } from 'svelte';
	import Button from './button.svelte';
	import UserPlus from '../../media/userplus.svg';
	import LinkSvg from '../../media/link.svg';
	import Cert from '../../media/cert.svg';
	import { session } from '$app/stores';
	const dispatch = createEventDispatcher();
</script>

<div
	class="buttons-container flex h-12 w-full flex-shrink-0 items-center justify-evenly bg-sky-900/60 py-2 px-5 md:h-14"
>
	{#if !$session.user.guest}
		<Button
			customClasses={'hover:bg-red-200 cursor-pointer w-1/3 md:w-1/6 hidden md:block'}
			rounded
			padding
			on:click={() => {
				dispatch('addUrl');
			}}
		>
			<p>Links +</p>
		</Button>
		<button
			class="opacity-50 transition-all hover:opacity-100 md:hidden"
			on:click={() => {
				dispatch('addUrl');
			}}
		>
			<img src={LinkSvg} class="h-7" alt="" />
		</button>
		{#if $session.user.role === 'admin'}
			<Button
				customClasses={'hover:bg-red-200 cursor-pointer w-1/3 md:w-1/6 hidden md:block'}
				rounded
				padding
				on:click={() => {
					dispatch('addUser');
				}}>Usuario +</Button
			>
			<button
				class="opacity-50 transition-all hover:opacity-100 md:hidden"
				on:click={() => {
					dispatch('addUser');
				}}
			>
				<img src={UserPlus} class="h-7" alt="" />
			</button>
		{/if}
	{/if}
	{#if $session.user.username === 'allowSignin'}
		<Button
			customClasses={'hover:bg-red-200 cursor-pointer w-1/3 md:w-1/6 hidden md:block'}
			rounded
			padding
			on:click={() => {
				dispatch('addUser');
			}}>Usuario +</Button
		>
		<button
			class="opacity-50 transition-all hover:opacity-100 md:hidden"
			on:click={() => {
				dispatch('addUser');
			}}
		>
			<img src={UserPlus} class="h-7" alt="" />
		</button>
	{:else}
		<button
			class="opacity-50 transition-all hover:opacity-100 md:hidden"
			on:click={() => {
				window.open('/files/myCA.pem', '_blank');
				console.log('download certificate');
			}}
		>
			<img src={Cert} class="h-7" alt="" />
		</button>
		<Button
			customClasses={'hover:bg-red-200 cursor-pointer w-1/3 md:w-1/6 hidden md:block'}
			rounded
			padding
			on:click={() => {
				window.open('/files/myCA.pem', '_blank');
				console.log('download certificate');
			}}>Certificado</Button
		>
	{/if}
	<input
		class="h-8 w-1/6 rounded bg-slate-600 p-2 transition-all focus:w-1/4 focus:bg-slate-200 focus:sm:w-1/3"
		placeholder="Buscar"
		name="search"
		id="search"
		type="text"
		on:input={(e) => {
			dispatch('search', e.target.value);
		}}
	/>
</div>
