<script>
	import { createEventDispatcher } from 'svelte';
	import { fade } from 'svelte/transition';
	import PopPop from './poppop.svelte';
	import { session } from '$app/stores';
	import { setGlobalMessage } from '../../actions/actions';
	export let fetchedUsers;
	let time, timeHover;
	let popOpen = {
		status: false,
		over: false
	};

	const dispatch = createEventDispatcher();
	function handleClick(key) {
		dispatch(key);
	}

	const months = [
		'Enero',
		'Febrero',
		'Marzo',
		'Abril',
		'Mayo',
		'Junio',
		'Julio',
		'Agosto',
		'Septiembre',
		'Octubre',
		'Noviembre',
		'Diciembre'
	];
	const calculateTime = () => {
		const now = Date.now();
		const today = new Date(now);
		let month = months[today.getMonth()];
		if (timeHover) {
			time = `Hoy es el día ${today.getDate()} de ${month} del ${today.getFullYear()}`;
		} else {
			time = `La hora es: ${(today.getHours() < 10 ? '0' : '') + today.getHours()} : ${
				(today.getMinutes() < 10 ? '0' : '') + today.getMinutes()
			} : ${(today.getSeconds() < 10 ? '0' : '') + today.getSeconds()}`;
		}
	};

	calculateTime();
	setInterval(() => {
		calculateTime();
	}, 1000);
</script>

<div
	class="user-container flex h-20 w-full flex-shrink-0 items-center justify-between bg-slate-900 p-4"
>
	{#if $session.user.guest}
		<div class="user-bloc flex cursor-pointer">
			<h2
				class="flex-shrink-0 text-2xl font-bold text-white"
				on:click={() => {
					handleClick('toggleLoginBox');
				}}
				on:mouseenter={(e) => {
					e.target.innerText = 'Ingresar';
				}}
				on:mouseleave={(e) => {
					e.target.innerText = `Hola`;
				}}
			>
				Hola
			</h2>
		</div>
	{:else}
		<div class="user-bloc flex items-center cursor-pointer relative">
			{#if popOpen.status}
				<div class="pop" transition:fade>
					<PopPop
						on:over={(e) => {}}
						on:enter={() => {
							popOpen.status = true;
							popOpen.over = true;
						}}
						on:leave={() => {
							setTimeout(() => {
								popOpen.status = false;
								popOpen.over = false;
							}, 400);
						}}
						on:close={() => {
							popOpen.status = false;
						}}
						on:setMessage={() => {
							popOpen.status = false;
							popOpen.over = false;
							handleClick('toggleSetMessage');
						}}
						on:edit={() => {
							popOpen.status = false;
							popOpen.over = false;
							handleClick('toggleUserBox');
						}}
						on:users={async (e) => {
							await e.detail.forEach((user) => {
								fetchedUsers = [
									...fetchedUsers,
									{
										id: user.id,
										label: user.username,
										type: 'select',
										options: ['admin', 'user'],
										value: user.role
									}
								];
							});
							dispatch('editUsers', fetchedUsers);
						}}
						on:logout={async () => {
							const res = await fetch('/api/login?bye=bye', { method: 'POST' });
							if (res.ok) {
								const data = await res.json();
								console.log(data);
								//when logging out, populate session
								$session = {
									user: {
										guest: true,
										username: '',
										language: 'default'
									}
								};
								/* refresh(); */
								handleClick('refresh');
								setGlobalMessage('logged out!', 'blue');
							} else {
								console.log('error logging out :(');
							}
						}}
					/>
				</div>
			{/if}
			<h2
				class="text-2xl text-white font-bold flex-shrink-0"
				on:mouseenter={(e) => {
					/* e.target.innerText = 'Salir'; */
					/* enableLogout = true; */
					popOpen.status = true;
				}}
				on:mouseleave={(e) => {
					/* e.target.innerText = `Hola ${$session.user.username}`; */
					/* enableLogout = false; */
					setTimeout(() => {
						if (popOpen.over === false) {
							popOpen.status = false;
						}
					}, 600);
				}}
			>
				Hola {$session.user.username}
			</h2>
		</div>
	{/if}
	<p
		class="flex-shrink-0 text-lg font-bold text-white"
		on:mouseenter={() => {
			timeHover = true;
			calculateTime();
		}}
		on:mouseleave={() => {
			timeHover = false;
			calculateTime();
		}}
	>
		{time}
	</p>
</div>
